### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [36]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
# Copied dataframe and removed duplicate players to enable age and gender analysis of the player population
player_data = purchase_data.copy()
player_data['SN'] = player_data['SN'].drop_duplicates()
player_data = player_data.dropna(how='any')
# length check to confirm cleaned data set and printed a check of the data set columns
print(len(purchase_data))
print(len(player_data))
purchase_data.head()

780
576

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [37]:
# Creates a data frame and calculates the length of the list of unique player 'SN' values to determine total number of players
total_players = pd.DataFrame({"Total Players":[len(purchase_data['SN'].unique())]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [38]:
summary_data = pd.DataFrame({"Number of Unique Items":[len(purchase_data['Item Name'].unique())],
                             "Average Price":[purchase_data['Price'].mean()],
                            "Number of Purchases":[purchase_data['Purchase ID'].count()],
                             "Total Revenue":[purchase_data['Price'].sum()]})
summary_data.style.format({'Average Price': '${:,.2f}'.format,'Total Revenue': '${:,.2f}'.format})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [39]:
gen_out = pd.DataFrame(player_data['Gender'].value_counts())
gen_out = gen_out.rename(columns={'Gender': 'Total Count'})
gen_out['Percentage of Players'] = gen_out['Total Count'] / total_players['Total Players'][0]
gen_out.style.format({'Percentage of Players': '{:,.2%}'.format})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [40]:
purchase_gen = pd.DataFrame(purchase_data[['Gender','Price','Price','Price']])
purchase_gen.columns = ['Gender','Purchase Count','Average Purchase Price', 'Total Purchase Value']
purchase_gen = purchase_gen.groupby('Gender').agg({'Purchase Count':'count', 'Average Purchase Price':'mean', 'Total Purchase Value':'sum'})
purchase_gen['Avg Total Purchase per Person'] = purchase_gen['Total Purchase Value'] / gen_out['Total Count']
purchase_gen.style.format({'Average Purchase Price': '${:,.2f}'.format,'Total Purchase Value': '${:,.2f}'.format,'Avg Total Purchase per Person': '${:,.2f}'.format})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [41]:
age_data = pd.DataFrame()
bins = [0,9,14,19,24,29,34,39,1000]
age_grps = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
age_data['Bins'] = pd.cut(player_data['Age'],bins, labels= age_grps, include_lowest=True)
age_out = pd.DataFrame(age_data['Bins'].value_counts())
age_out = age_out.rename(columns={'Bins': 'Total Count'})
age_out['Percentage of Players'] = age_out['Total Count'] / total_players['Total Players'][0]
age_out['Percentage of Players'] = age_out['Percentage of Players'].map('{:,.2%}'.format)
age_out = age_out.sort_index()
age_out

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [46]:
purchase_age = pd.DataFrame(purchase_data[['Age','Price','Price','Price']])
purchase_age.columns = ['Age','Purchase Count','Average Purchase Price','Total Purchase Value']
purchase_age['Age Ranges'] = pd.cut(purchase_age['Age'],bins, labels= age_grps, include_lowest=True)
purchase_age = purchase_age.groupby('Age Ranges').agg({'Purchase Count':'count', 'Average Purchase Price':'mean', 'Total Purchase Value':'sum'})
purchase_age['Avg Total Purchase per Person'] = purchase_age['Total Purchase Value'] / age_out['Total Count']
purchase_age.style.format({'Average Purchase Price': '${:,.2f}'.format,'Total Purchase Value': '${:,.2f}'.format,'Avg Total Purchase per Person': '${:,.2f}'.format})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [43]:
spend_data = pd.DataFrame(purchase_data[['SN','Price','Price','Price']])
spend_data.columns = ['SN','Purchase Count','Average Purchase Price','Total Purchase Value']
spend_data = spend_data.groupby('SN').agg({'Purchase Count':'count', 'Average Purchase Price':'mean', 'Total Purchase Value':'sum'})
spend_data = spend_data.nlargest(total_players['Total Players'][0],'Total Purchase Value')
spend_data['Average Purchase Price'] = spend_data['Average Purchase Price'].map('${:,.2f}'.format)
spend_data['Total Purchase Value'] = spend_data['Total Purchase Value'].map('${:,.2f}'.format)
spend_data.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [44]:
item_data = pd.DataFrame(purchase_data[['Item ID','Item Name','Price','Price','Price']])
item_data.columns = ['Item ID','Item Name','Purchase Count','Item Price','Total Purchase Value']
item_data = item_data.groupby(['Item ID','Item Name']).agg({'Purchase Count':'count', 'Item Price':'mean', 'Total Purchase Value':'sum'})
item_data = item_data.nlargest(len(item_data),'Purchase Count')
item_data.head().style.format({'Item Price': '${:,.2f}'.format,'Total Purchase Value': '${:,.2f}'.format})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [45]:
item_data = item_data.nlargest(len(item_data),'Total Purchase Value')
item_data.head().style.format({'Item Price': '${:,.2f}'.format,'Total Purchase Value': '${:,.2f}'.format})